@tailwind base;
@tailwind utilities;
@tailwind components;

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: #8F8CA8;
}

body {
    font-family: "Inter", sans-serif;
}

* {
    /*font-size: 16px !important;*/
}

pre *,
.font-mono {
    font-family: "JetBrains Mono", monospace !important;
    font-weight: 300 !important;
    font-size: 15px !important;
}

.bg-app {
    background-image: linear-gradient(to left, #6B73FF, #6B73FF, #6B73FF);
}

.font-inter {
    font-family: "Inter", sans-serif !important;
}

.font-inter-tight {
    font-family: "Inter Tight", "Inter", sans-serif !important;
}